h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Fisiologia vegetal', 'main.html#page/fisiologia-vegetal/')
                    +navTemaItem('2', 'Generalidades de la sanidad vegetal', 'main.html#page/generalidades-sanidad-vegetal/')
                    +navTemaItem('3', 'Plagas', 'main.html#page/plagas/')
                    +navTemaItem('4', 'Enfermedades', 'main.html#page/enfermedades/')
                    +navTemaItem('5', 'Alelopatia', 'main.html#page/alelopatia/')
                    +navTemaItem('6', 'Caldos para el control de plagas y enfermedades', 'main.html#page/caldos para el control de plagas y enfermedades/')
                    +navTemaItem('question', 'Actividad didáctica', 'main.html#page/actividad-1/')                                                                                               