#page-main-header.page-header.theme-light.mb-5

    .container

        .row.align-items-center

            .col-12.col-lg-6

                h3#curso-titulo-componente.curso-subtitulo PRÁCTICAS Y APLICACIONES DE AGRICULTURA ECOLÓGICA
                h1#curso-titulo-tema.curso-titulo La sanidad vegetal en la agricultura ecológica

                .brand-line-primary

                .keywords
                    span.badge.badge-pill.badge-light.mr-2 #micronutriente
                    span.badge.badge-pill.badge-light.mr-2 #compostaje

                p A través de este objeto virtual de aprendizaje, el estudiante conocerá las propiedades del suelo, su manejo ecológico, los análisis de suelo y su importancia, las deficiencias nutricionales de los cultivos y sus síntomas, generalidades de dos abonos orgánicos muy importantes como el bocashi y el humus de lombriz. 

                .barra-dots.mt-5
                    img.img-fluid(src='../assets/images/header/icon_dots.svg', alt='alt')



            .col-12.col-lg-6
                .d-none.d-lg-block
                    img(src="assets/images/header/header_media.svg")
