h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 Cód. 73311558
        strong 270412012-4: 
        |Mantener nutrición del suelo en correspondencia con criterios técnicos y la normatividad de la agricultura ecológica.