.curso-portada

    .row.align-items-center

        .col-12.col-lg-6

            h3.curso-subtitulo(style="color:white") PRÁCTICAS Y APLICACIONES DE AGRICULTURA ECOLÓGICA
            h1.curso-titulo La sanidad vegetal en la agricultura ecológica

            .brand-line-primary
            p.mb-5(style="color:white") A través de este objeto virtual de aprendizaje, el estudiante adquirirá conocimientos relacionados con la sanidad vegetal en la agricultura ecológica, cómo se controlan las plagas y enfermedades dentro de un modelo de producción agrícola.

                          

            a.curso-btn-iniciar.btn.btn-danger(href="main.html")
                span Iniciar Curso

        .col-12.col-lg-6
            .d-none.d-lg-block
                img(src="assets/images/header/header_media.svg")