include ../mixins/functions

+pageHeader('La sanidad vegetal en la agricultura ecológica', 'assets/images/header/header_media.svg')

.container
    .header-ecored
        h1 2. Generalidades del suelo
 
        p Según la definición básica y tradicional de suelo, “es el medio natural para el crecimiento de las plantas”. http://www.fao.org/3/a0510s/a0510s00.pdf

        |Es el resultado final de la combinación de varios factores como el tiempo, el clima, la topografía, los organismos vivos (flora, fauna y el ser humano) y los materiales parentales (rocas y minerales originarios)
  
.container 
    .row-12       
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/generalidades-suelo.png").img-fluid
    .row
        .col.text-center
            p.m-0(style="padding-top: 10px")
            |Figura 4. Factores que Intervienen la formación del Suelo - Fuente SENA tomado de: 
            a.m-0.p-0(href="http://www.fao.org/soils-portal/about/definiciones/es/", target="_blank") http://www.fao.org/soils-portal/about/definiciones/es/

    p.mt-5 Los suelos son sistemas confusos donde ocurren una extensa gama de procesos físicos y biológicos que se ven reflejados en la gran variedad de suelos existentes en la tierra. Los suelos con vocación agrícola, son un cuerpo natural y dinámico localizado en la superficie de la corteza terrestre y compuestos de la siguiente manera:
    
    img.img-a.my-5(src="assets/images/pages/ilustraciones/generalidades-suelo2.png").img-fluid

    .header-ecored
        h1 2.2. Componentes del Suelo
 
        p De acuerdo con la figura anterior, para que un suelo tenga vocación para actividades agropecuarias, debe componerse de la siguiente manera:   

.container 
    .row-12       
        img.img-a.mt-2(src="assets/images/pages/ilustraciones/componentes-del-suelo.png").img-fluid
    .row
        .col.text-center
            p.m-0(style="padding-top: 10px")
            |Figura 6. Componentes del Suelo - Fuente SENA tomado de: 
            a.m-0.p-0(href="http://bibliotecadigital.agronet.gov.co/bitstream/11348/4858/2/2006718153746_Acondicionadores%20y%20mejoradores%20de%20suelo.pdf", target="_blank") http://bibliotecadigital.agronet.gov.co/bitstream/11348/4858/2/2006718153746_Acondicionadores%20y%20mejoradores%20de%20suelo.pdf

    .header-ecored
        h1 2.3. Propiedades del Suelo
 
        p Los suelos tienen diferentes características que representan gran importancia para identificarlos y que, además, determinan el grado de productividad agrícola que pueden tener. Las propiedades del suelo son tres tipos:   

    .header-ecored
        h1 2.3.1. Propiedades Físicas
 
        p Las propiedades físicas del suelo son determinantes para definir su vocación agrícola y los acondicionadores resultan fundamentales para mejorar algunas de ellas y de esta manera volver los suelos más productivos y con mejores condiciones para el desarrollo radicular de las plantas y mejorar la disponibilidad de nutrientes.

    .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/RFWax6M079k', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

    .header-ecored
        h1 2.3.2 Propiedades químicas del suelo
 
        p El agua es un factor fundamental para determinar la composición química del suelo. Ciertas sustancias químicas se lixivian en las capas inferiores del suelo en donde se acumulan, mientras que existen otras sustancias que tienen menos solubilidad y quedan en las capas superiores de suelo.

    .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/RFWax6M079k', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

    .header-ecored
        h1 2.3.3. Propiedades Biológicas del Suelo
 
        p Las propiedades biológicas del suelo están relacionadas con la presencia en materia orgánica y de organismos vivos tales como: hongos, bacterias, micorrizas, lombrices, insectos, etc. Los cuales contribuyen a definir la vocación agrícola del suelo. 

    .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/RFWax6M079k', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 
