include ../mixins/functions

+pageHeader('La sanidad vegetal en la agricultura ecológica', 'assets/images/header/header_media.svg')

.container
    .header-ecored
        h1 3. PLAGAS

    .embed-responsive.embed-responsive-16by9.mt-3
        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/RFWax6M079k', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 
        
        p Los insectos presentan dos ciclos de vida, algunos tienen ciclo de tres etapas y otros de cuatro etapas:
    .header-ecored
        h1.mt-5 3.1.1 Ciclo de vida de tres etapas

        p El ciclo inicia con el huevo, que es la primera etapa. De este huevo emerge una ninfa, que es la segunda etapa. La ninfa es igual al adulto, pero más pequeña y no tiene alas. La tercera etapa se da cuando la ninfa crece hasta llegar al estado adulto.

    .row   
        .col-12.col-md-4
            img.img-a(src="assets/images/pages/ilustraciones/ciclo1.png").img-fluid
            p.text-center Huevo
        .col-12.col-md-4
            img.img-a(src="assets/images/pages/ilustraciones/ciclo2.png").img-fluid
            p.text-center Ninfa
        .col-12.col-md-4
            img.img-a(src="assets/images/pages/ilustraciones/ciclo3.png").img-fluid
            p.text-center Adulto

        .row
        .col.text-center.mt-5
            p.m-0(style="padding-top: 10px")
            |Figura 22. Ciclo Incompleto de los Insectos  - Fuente SENA tomado de: 
            a.m-0.p-0(href="http://plaguicidas-y-alternativas.org/sites/default/files/p/663/f-277-plagas_agricolas.pdf", target="_blank") http://plaguicidas-y-alternativas.org/sites/default/files/p/663/f-277-plagas_agricolas.pdf

    .header-ecored
        h1.mt-5 3.1.2 Ciclo de vida de cuatro etapas

        p Este ciclo también inicia con el huevo, que es la primera etapa. De este huevo emerge una larva o gusano que es la segunda etapa, luego esta larva se vuelve pupa en la tercera etapa del ciclo. Para finalizar la cuarta etapa, la pupa se convierte en adulto.

.container 
    .row-12       
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/ciclo4.png").img-fluid
    .row
        .col.text-center
            p.m-0(style="padding-top: 10px")
            |Figura 22. Ciclo Incompleto de los Insectos - Fuente SENA tomado de: 
            a.m-0.p-0(href="http://plaguicidas-y-alternativas.org/sites/default/files/p/663/f-277-plagas_agricolas.pdf", target="_blank") http://plaguicidas-y-alternativas.org/sites/default/files/p/663/f-277-plagas_agricolas.pdf

        p.mt-5 En los cultivos se presentan dos tipos de insectos: Los Insectos Plaga y Los Insectos Benéficos, a continuación, se verán las principales características de cada uno de ellos.

    .header-ecored
        h1.mt-5 3.2 Insectos Plaga

        p Son aquellas especies de insectos que al aumentar su población causan daño económico al cultivo porque afectan su normal desarrollo y como consecuencia se obtienen cosechas menores o de pobre calidad. Se clasifican de acuerdo con su aparato bucal, el cual tiene relación directa con el daño que causan en el cultivo.

.container 
    .row-12       
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/insectos.png").img-fluid
    .row
        .col.text-center
            p.m-0(style="padding-top: 10px")
            |Figura 23. Clasificación de los Insectos Plagas - Fuente SENA tomado de: 
            a.m-0.p-0(href="http://plaguicidas-y-alternativas.org/sites/default/files/p/663/f-277-plagas_agricolas.pdf", target="_blank") http://plaguicidas-y-alternativas.org/sites/default/files/p/663/f-277-plagas_agricolas.pdf

    p.mt-5 Estos insectos afectan los cultivos de dos maneras diferentes:

    p Daños directos: Cuando se comen, destruyen o debilitan alguna parte de la planta como puede ser raíz, tallo, hojas, flores, brotes terminales, yemas, frutos, semillas, etc.

    p Daños indirectos: Cuando transmite algún virus o son la puerta de la entrada de una enfermedad causada por hongos o bacterias. Por ejemplo, ataque de áfidos y trips, transmiten virus en hortalizas y en tomate respectivamente. Pulgones, cochinillas y mosca blanca, producen secreciones azucaradas sobre las hojas, que son un medio propicio para  el ataque de un complejo de hongos que causan una enfermedad de los cítricos denominada fumagina.

    .header-ecored
        h1 3.3 Insectos Benéficos 

    .embed-responsive.embed-responsive-16by9.mt-3
        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/RFWax6M079k', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 