include ../mixins/functions

+pageHeader('La sanidad vegetal en la agricultura ecológica', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h1 5. Deficiencias nutricionales
 
        p En las plantas una deficiencia nutricional hace referencia a la no disponibilidad o a la carencia de un nutriente en la solución del suelo, siendo este nutriente o elemento importante para su crecimiento y desarrollo y produce una anormalidad en la fisiología de la planta. 

        |Las deficiencias nutricionales también se pueden dar por un inadecuado manejo del pH o por altas concentraciones de ciertos elementos en el suelo, que hacen que otros elementos no estén disponibles dentro de la solución del suelo.

        |En términos generales, las deficiencias nutricionales se pueden manifestar en las plantas de diferentes maneras, las más comunes son: plantas enanas, poco follaje, aborto de flores y frutos, crecimientos erráticos de la planta, coloración amarilla en hojas y tallos,	cultivos más susceptibles al ataque de insectos y enfermedades. 

    img.img-a.mt-2(src="assets/images/pages/ilustraciones/mapa5.png").img-fluid

.container
    .header-ecored
        h1.mt-5 Tipos de Síntomas

        p Los siguientes son los cinco síntomas típicos que puede presentar una planta que tenga una deficiencia nutricional: 
    .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/RFWax6M079k', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')         