include ../mixins/functions

+pageHeader('La sanidad vegetal en la agricultura ecológica', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h1 5. Alelopatia
 
        p La alelopatía se define como un proceso biológico donde una planta libera una sustancia química que tiene influencia directa sobre el desarrollo y el crecimiento de otra planta. Lo cual es ampliamente utilizado para el manejo de las malezas en los cultivos, como una herramienta suplementaria para tal fin, reduciendo de esta manera el uso de herbicidas. 

        P Los mecanismos por medio de los cuales las plantas liberan al ambiente los compuestos alelopáticos son:
        
.container 
    .row    
        img.img-a.mt-2(src="assets/images/pages/ilustraciones/alelopatia.png").img-fluid

    #tipo
    .header-ecored
        h1 5.1 Tipos de control alelopático
 
        p En la alelopatía existen dos tipos:

        .card.bg-color-3
            .card-body
                h1 5.1.1 Autotoxicidad o Autoalelopatía.

                p Es el efecto negativo que produce un determinado cultivo sobre otro de la misma especie que se siembre en el mismo lote.  

                p.mb-3 El caso más estudiado de autoalelopatía se produce en alfalfa, donde las plantas adultas segregan medicarpina, una toxina que reduce de manera notable la germinación y el crecimiento de nuevas plántulas. Los estudios han demostrado que es necesario esperar como mínimo doce meses para volver a sembrar alfalfa en un lote que haya tenido antes esta especie. Para evitar este impase, lo mejor es realizar rotación de cultivos.



            .py-2.mt-3.py-color

        .card.mt-5.bg-color-3
            .card-body
                h1 5.1.2 Heterotoxicidad

                p Es el efecto negativo que produce un determinado cultivo sobre otro cultivo de una especie diferente que se siembre en el mismo lote o en lotes contiguos. Acá es donde la alelopatía es altamente utilizada para el control de ciertas especies. 

                p Diferentes estudios en todo el mundo han demostrado que el sorgo, el girasol y otras especies, hacen que se utilicen menos herbicidas tanto durante el desarrollo del cultivo como en los ciclos siguientes. 

                p Además, cultivos como avena, cebada, trigo y sorgo entre otros, han resultado tener efectos que inhiben el crecimiento de malezas empleados de diferentes maneras: 


            .row       
                img.img-a.my-2(src="assets/images/pages/ilustraciones/hetero.png").img-fluid


            .py-2.mt-5.py-color            