include ../mixins/functions

+pageHeader('La sanidad vegetal en la agricultura ecológica', 'assets/images/header/header_media.svg')


.container

    .header-ecored
        h1 6. Caldos para el control de plagas y enfermedades
 
    p Basados en la sabiduría popular y con el soporte científico que brinda varios años de investigaciones, se han creado algunas fórmulas para la preparación de caldo minerales y caldos vegetales para el manejo ecológico de plagas y enfermedades en los cultivos.
    #plaga6
    .header-ecored
        h1 6.1 Para el manejo de plagas
 
    p Para el manejo de plagas son muy eficientes los caldos preparados con algunas especies vegetales como base. 

    p A continuación se presentan algunos:

    .row
        .col-lg-4.col-md-4.col-6
            a.d-block.mb-4.h-100(href='assets/images/pages/ilustraciones/6-1_01.png', data-fancybox='gallery', data-caption='', data-imagen='assets/images/pages/ilustraciones/6-1_01.png') 
                .header-ecored
                    h5.text-black 6.1.1 Pencopaicol
                img.img-fluid.img-thumbnail(src='assets/images/pages/ilustraciones/6-1_01.png', alt='')
                
        .col-lg-4.col-md-4.col-6
            a.d-block.mb-4.h-100(href='assets/images/pages/ilustraciones/6-1-02.png', data-fancybox='gallery', data-caption='', data-imagen='assets/images/pages/ilustraciones/6-1-02.png')
                .header-ecored
                    h5.text-black 6.1.2 Chavitox  
                img.img-fluid.img-thumbnail(src='assets/images/pages/ilustraciones/6-1-02.png', alt='')

        .col-lg-4.col-md-4.col-6
            a.d-block.mb-4.h-100(href='assets/images/pages/ilustraciones/6-1-03.png', data-fancybox='gallery', data-caption='', data-imagen='assets/images/pages/ilustraciones/6-1-03.png')
                .header-ecored
                    h5.text-black 6.1.3 Martin Salvia
                img.img-fluid.img-thumbnail(src='assets/images/pages/ilustraciones/6-1-03.png', alt='')
      
    #enf6
    .header-ecored
        h1 6.2 Para Manejo de enfermedades
 
    p Para el manejo de enfermedades se utilizan los caldos minerales y también vegetales.   

    .row
        .col-lg-3.col-md-4.col-6
            a.d-block.mb-4.h-100(href='assets/images/pages/ilustraciones/6-2_01.png', data-fancybox='gallery', data-caption='', data-imagen='assets/images/pages/ilustraciones/6-2_01.png')
                .header-ecored
                    h5.text-black 6.2.1 Caldo Bordelés al 1%
                img.img-fluid.img-thumbnail(src='assets/images/pages/ilustraciones/6-2_01.png', alt='')
                
        .col-lg-3.col-md-4.col-6
            a.d-block.mb-4.h-100(href='assets/images/pages/ilustraciones/6-2-02.png', data-fancybox='gallery', data-caption='', data-imagen='assets/images/pages/ilustraciones/6-2-02.png')
                .header-ecored
                    h5.text-black 6.2.2 Caldo Sulfocálcico
                img.img-fluid.img-thumbnail(src='assets/images/pages/ilustraciones/6-2-02.png', alt='')

        .col-lg-3.col-md-4.col-6
            a.d-block.mb-4.h-100(href='assets/images/pages/ilustraciones/6-2-03.png', data-fancybox='gallery', data-caption='', data-imagen='assets/images/pages/ilustraciones/6-2-03.png')
                .header-ecored
                    h5.text-black 6.2.3 Caldo de Cenizas
                img.img-fluid.img-thumbnail(src='assets/images/pages/ilustraciones/6-2-03.png', alt='')  

        .col-lg-3.col-md-4.col-6
            a.d-block.mb-4.h-100(href='assets/images/pages/ilustraciones/6-2-04.png', data-fancybox='gallery', data-caption='', data-imagen='assets/images/pages/ilustraciones/6-2-04.png')
                .header-ecored
                    h5.text-black 6.2.4 Purín de Diente León
                img.img-fluid.img-thumbnail(src='assets/images/pages/ilustraciones/6-2-04.png', alt='')                                  


