include ../mixins/functions

+pageHeader('La sanidad vegetal en la agricultura ecológica', 'assets/images/header/header_media.svg')


.container

    .header-ecored
        h1 6. Abonos orgánicos 
 
        p Los abonos orgánicos están constituidos por residuos de origen animal, vegetal o de ambos,	que después de ser sometidos a procesos como el compostaje y la maduración, son incorporados al suelo, produciendo un impacto positivo en sus propiedades físicas, químicas y biológicas.

        |Sin embargo, no solamente los abonos compostados y madurados son considerados como abonos orgánicos, sino también, los residuos de cosecha que son dejados en el campo y posteriormente incorporados al suelo, o por los cultivos de ciertas especies, generalmente de leguminosas, los cuales antes de su floración, son cortados e incorporados al suelo para mejorar sus propiedades, los cuales tienen un fuerte efecto en la fijación de nitrógeno.

.container 
    .row-12       
        img.img-a.mt-2(src="assets/images/pages/ilustraciones/abonos.png").img-fluid
    .row
        .col.text-center
            p.m-0(style="padding-top: 10px")
            |Figura 18. Efectos de los Abonos Orgánicos - Fuente SENA tomado de: 
            a.m-0.p-0(href="https://www.infoagro.com/documentos/abonos_organicos.asp", target="_blank") https://www.infoagro.com/documentos/abonos_organicos.asp
.container

    .header-ecored
        h1 6.2 Beneficios del uso de Abonos Orgánicos

img.img-a(src="assets/images/pages/ilustraciones/beneficios1.png" style= "width:100%; display:flex").mt-5.img-fluid  
.row-12(style="background-color:#6E4431") 
    .container
        .row.mb-5 
            .row.justify-content-center.align-items-center.mx-3.mt-7

                .col-1
                    img(src="assets/images/pages/ilustraciones/abonos1.png").rounded.mx-auto.d-block

                .col-10
                    p(style="color:white") Ante los inminentes efectos que produce la agricultura sobre los suelos, como por ejemplo la pérdida de nutrientes, el agotamiento de la materia orgánica, desequilibrio biológico, la degradación de sus propiedades físicas y la erosión entre otras, resulta indispensable la incorporación de algún material que pueda ayudar a revertir estos efectos negativos. 
                    a.m-0.p-0(href="https://www.infoagro.com/documentos/abonos_organicos.asp", target="_blank", style="color:white") https://www.infoagro.com/documentos/abonos_organicos.asp

            .row.justify-content-center.align-items-center.mx-3.mt-7

                .col-1
                    img(src="assets/images/pages/ilustraciones/abonos2.png").rounded.mx-auto.d-block

                .col-10
                    p(style="color:white") Surgen entonces los abonos orgánicos como acondicionadores y restituyentes no sólo de los nutrientes, sino también mejoradores de sus propiedades físicas y biológicas.
                    a.m-0.p-0(href="https://www.infoagro.com/documentos/abonos_organicos.asp ", target="_blank", style="color:white") https://www.infoagro.com/documentos/abonos_organicos.asp 

            .row.justify-content-center.align-items-center.mx-3.mt-7

                .col-1
                    img(src="assets/images/pages/ilustraciones/abonos3.png").rounded.mx-auto.d-block

                .col-10
                    p(style="color:white") La utilización de abonos orgánicos resultar altamente eficientes en suelos con bajo contenido de materia orgánica o donde esta se encuentren degradada por  efectos de la erosión. No obstante, su uso mejorar la calidad y la productividad en cualquier tipo de suelo. 
                    a.m-0.p-0(href="https://www.infoagro.com/documentos/abonos_organicos.asp", target="_blank", style="color:white") https://www.infoagro.com/documentos/abonos_organicos.asp
                    p(style="color:white").mt-3 Además, reduce factores de contaminación ambiental y produce un mejoramiento de la vida rural. 
        br

.container

    .header-ecored
        h1 6.3 Tipos de Abonos Orgánicos 
 
        p Aunque las sustancias orgánicas que se aportan al suelo para incrementar su fertilidad, aumentar la actividad de los microorganismos y aportar materia orgánica, entre otros, son muchas y de diversos orígenes, a continuación se presentan las más usadas por nuestros agricultores ecológicos:  

.container 
    .row-12       
        img.img-a.mt-2(src="assets/images/pages/ilustraciones/tipos-abonos.png").img-fluid
    .row
        .col.text-center
            p.m-0(style="padding-top: 10px")
            |Figura 19. Principales Abonos Orgánicos - Fuente SENA tomado de: 
            a.m-0.p-0(href="https://www.infoagro.com/documentos/abonos_organicos.asp", target="_blank") https://www.infoagro.com/documentos/abonos_organicos.asp
