include ../mixins/functions

+pageHeader('La sanidad vegetal en la agricultura ecológica', 'assets/images/header/header_media.svg')


.container

    .header-ecored
        h1 6. CALDOS PARA EL CONTROL DE PLAGAS Y ENFERMEDADES
 
        p Basados en la sabiduría popular y con el soporte científico que brinda varios años de investigaciones, se han creado algunas fórmulas para la preparación de caldo minerales y caldos vegetales para el manejo ecológico de plagas y enfermedades en los cultivos.

    .header-ecored
        h1 6.1 Para el Manejo de plagas
 
        p Para el manejo de plagas son muy eficientes los caldos preparados con algunas especies vegetales como base. 

        p A continuación se presentan algunos:  

    .header-ecored
        h1 6.2 Para Manejo de Enfermedades
 
        p Para el manejo de enfermedades se utilizan los caldos minerales y también vegetales.             


