include ../mixins/functions

+pageHeader('La sanidad vegetal en la agricultura ecológica', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h1 7. Bocashi

    .embed-responsive.embed-responsive-16by9.mt-3
        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/RFWax6M079k', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 

    .header-ecored
        h1 7.2 Materiales para la Preparación

    .embed-responsive.embed-responsive-16by9.mt-3
        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/RFWax6M079k', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

.container 
    .row-12.mt-5       
        img.img-a.mt-2(src="assets/images/pages/ilustraciones/materiales.png").img-fluid
    .row
        .col.text-center
            p.m-0(style="padding-top: 10px")
            |Figura 19. Cantidad de cada elemento para la preparación de Bocashi - Fuente SENA tomado de: 
            a.m-0.p-0(href="http://www.fao.org/3/a-at788s.pdf", target="_blank") http://www.fao.org/3/a-at788s.pdf   

    .header-ecored  
        h1 7.3 Dosis de Aplicación
        p Cuando el producto está listo para su so, se recomienda aplicar de la siguiente manera: 

.container 
    .row-12       
        img.img-a.mt-2(src="assets/images/pages/ilustraciones/dosis.png").img-fluid
    .row
        .col.text-center
            p.m-0(style="padding-top: 10px")
            |Figura 20. Dosis de Aplicación de Bocashi  - Fuente SENA tomado de: 
            a.m-0.p-0(href="http://www.fao.org/3/a-at788s.pdf", target="_blank") http://www.fao.org/3/a-at788s.pdf                       