include ../mixins/functions

+pageHeader('La sanidad vegetal en la agricultura ecológica', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h1 8. LOMBRICOMPUESTO 

        p Lombriabono o humus de lombriz, es el producto obtenido de la digestión de la lombriz y es uno de los mejores abonos orgánicos, porque está compuesto no solo de altos contenidos de macronutrientes, sino también, por pequeñas cantidades de micronutrientes. Por lo tanto, ofrece a los cultivos una alimentación equilibrada con los elementos básicos utilizables y asimilables por sus raíces.

    .embed-responsive.embed-responsive-16by9.mt-3
        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/RFWax6M079k', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 

    
    .header-ecored
        h1 8.2 Ventajas

    .embed-responsive.embed-responsive-16by9.mt-3
        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/RFWax6M079k', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 

.container
        p.mt-5 El humus de lombriz tiene múltiples ventajas con respecto a otros abonos orgánicos, como las siguientes:  

        ul
            li(style="color:#FF7F00")
                p(style="color:black") Es más concentrado (1 tonelada de humus de lombriz equivale a 10 toneladas de estiércol). 

            li(style="color:#FF7F00")
                p(style="color:black") No se pierde el nitrógeno por la descomposición.

            li(style="color:#FF7F00")
                p(style="color:black") El fósforo es asimilable; en los estiércoles no.

            li(style="color:#FF7F00")
                p(style="color:black") Tiene mayor contenido de microorganismos y enzimas que ayudan a la desintegración de la materia orgánica (la carga bacteriana es un billón por gramo).

            li(style="color:#FF7F00")
                p(style="color:black") Mayor contenido de auxinas y hormonas vegetales que influyen de manera positiva en el crecimiento de las plantas.

            li(style="color:#FF7F00")
                p(style="color:black") Un pH estable entre 7 y 7.5.

            li(style="color:#FF7F00")
                p(style="color:black") La materia prima puede ser cualquier tipo de residuo o desecho orgánico, también se utiliza la parte orgánica de la basura.
.container
    .header-ecored
        h1 8.3 Características de la lombriz 

    .embed-responsive.embed-responsive-16by9.mt-3
        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/RFWax6M079k', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 

    .header-ecored
        h1 8.4 Características del Humus 
        p El humus de lombriz posee características físicas, químicas y biológicas como las que se ven en el siguiente diagrama: 

.container 
        .row-12.mt-5       
            img.img-a.mt-2(src="assets/images/pages/ilustraciones/caracteristicas.png").img-fluid
        .row
            .col.text-center
                p.m-0(style="padding-top: 10px")
                |Figura 23. Características del Humus - Fuente SENA tomado de: 
                a.m-0.p-0(href="http://bioinsumosagric.ucoz.com/_ld/0/90_Manejo_Ecologic.pdf", target="_blank") http://bioinsumosagric.ucoz.com/_ld/0/90_Manejo_Ecologic.pdf

.container
    .header.mt-5
        .card-deck
            .card
                h3.card-title.text-center.my-3 1. Crianza
                img.img-a(src='assets/images/pages/ilustraciones/instalacion1.png', alt='...')
                .card-body                    
                    p.card-text Las lombrices se crían en camas de 1 metro de ancho, 40 a 60 centímetros de alto y hasta 20 metros de largo. La crian­za puede ser iniciada con una población de 3.000 lombrices por metro cuadrado.
                    
            .card
                h3.card-title.text-center.my-3 2.Alimentación
                img.img-a(src='assets/images/pages/ilustraciones/instalacion2.png', alt='...')
                .card-body
                    p.card-text Para alimentarlas se puede utilizar un sustrato producto de la mezcla de residuos orgánicos vegetales (desechos de las cosechas, basura doméstica, residuos de la agroindustria, etc.). 
            .card
                h3.card-title.text-center.my-3 3. Manejo
                img.img-a(src='assets/images/pages/ilustraciones/instalacion3.png', alt='...')
                .card-body
                    p.card-text Hay que mantener material suficiente en la parte central de la cama y evitar que se seque. Para controlar la fuga de las lombrices, hay que observar permanentemente la humedad, el pH y la temperatura de la cama.

    .header
        .card-deck
            .card
                h3.card-title.text-center.my-3 4. Cosecha
                img.img-a(src='assets/images/pages/ilustraciones/instalacion4.png', alt='...')
                .card-body                    
                    p.card-text Cuando la cantidad de las lombrices es muy alta, por lo general después de 9 meses, se puede empezar a cosechar. Se suspende algunos días la alimentación fresca, luego se pone materia fresca a lo largo de la parte central de la cama. Las lombrices se concentran en este material y pueden ser capturadas y guardadas en un recipiente adecuado mientras se saca el humus terminado. 

                    
            .card
                h3.card-title.text-center.my-3 5. Procesamiento
                img.img-a(src='assets/images/pages/ilustraciones/instalacion5.png', alt='...')
                .card-body
                    p.card-text El humus hay que secarlo y mezclarlo con el material de las diferentes camas. Luego se pasa por un cedazo y se empaca en bolsas de polietileno.
            .card
                h3.card-title.text-center.my-3 6. Humus terminado
                img.img-a(src='assets/images/pages/ilustraciones/instalacion6.png', alt='...')
                .card-body
                    p.card-text 

    .row
        .col.text-center
            p.m-0(style="padding-top: 10px")
            |Figura 24. Instalación de la Lombricultura - Fuente SENA tomado de: 
            a.m-0.p-0(href="http://bioinsumosagric.ucoz.com/_ld/0/90_Manejo_Ecologic.pdf", target="_blank") http://bioinsumosagric.ucoz.com/_ld/0/90_Manejo_Ecologic.pdf