.container

  ol

    li
      p
        | APS (2002). Diagnóstico De Enfermedades en Plantas (s.f.). 
        a(href="https://www.apsnet.org/edcenter/disimpactmngmnt/casestudies/Pages/DiagnosticoEnfermedadesPlantas.aspx", target="_blank") https://www.apsnet.org/edcenter/disimpactmngmnt/casestudies/Pages/DiagnosticoEnfermedadesPlantas.aspx

    li
      p
        | Asociación Albar (2012). 
        i ¿Qué es la Agricultura Ecológica? 
        | (s.f.).  
        a(href="https://asociacionalbar.files.wordpress.com/2012/05/ae1.pdf", target="_blank") https://asociacionalbar.files.wordpress.com/2012/05/ae1.pdf

    li
      p
        | Domínguez, A,. (s.f.) 
        i Sanidad vegetal en agricultura ecológica
        | .(s.f.).    
        a(href="https://www.alcoi.org/export/sites/default/es/areas/medi_ambient/cimal/descargas/SANIDAD-EN-AGRICULTURA-ECOLOGICA.pdf", target="_blank") https://www.alcoi.org/export/sites/default/es/areas/medi_ambient/cimal/descargas/SANIDAD-EN-AGRICULTURA-ECOLOGICA.pdf

    li
      p
        | FAO (2019). 
        i Preguntas frecuentes sobre agricultura orgánica 
        | (s.f.).  
        a(href="http://www.fao.org/organicag/oa-faq/oa-faq1/es/", target="_blank") http://www.fao.org/organicag/oa-faq/oa-faq1/es/

    li
      p
        | Gutiérrez, M. (1996). 
        i Nutrición mineral de las plantas: Fisiología y aplicaciones 
        | (s.f.).  
        a(href="https://www.alcoi.org/export/sites/default/es/areas/medi_ambient/cimal/descargas/SANIDAD-EN-AGRICULTURA-ECOLOGICA.pdf", target="_blank") https://www.alcoi.org/export/sites/default/es/areas/medi_ambient/cimal/descargas/SANIDAD-EN-AGRICULTURA-ECOLOGICA.pdf

    li
      p
        | Huici, O. (2007). Plagas agrícolas (s.f.).   
        a(href="https://www.alcoi.org/export/sites/default/es/areas/medi_ambient/cimal/descargas/SANIDAD-EN-AGRICULTURA-ECOLOGICA.pdf", target="_blank") https://www.alcoi.org/export/sites/default/es/areas/medi_ambient/cimal/descargas/SANIDAD-EN-AGRICULTURA-ECOLOGICA.pdf

    li
      p
        | Promix (2017). 
        i Introducción a las enfermedades de las raíces: triángulo de las enfermedades 
        | (s.f.). 
        a(href="https://www.pthorticulture.com/es/centro-de-formacion/introduccion-a-las-enfermedades-de-las-raices-triangulo-de-las-enfermedades/", target="_blank") https://www.pthorticulture.com/es/centro-de-formacion/introduccion-a-las-enfermedades-de-las-raices-triangulo-de-las-enfermedades/

    li
      p
        | Red agrícola (2017). 
        i La raíz es el cerebro de la planta (Darwin) 
        | (s.f.).   
        a(href="https://www.redagricola.com/cl/la-raiz-es-el-cerebro-de-la-planta/", target="_blank") https://www.redagricola.com/cl/la-raiz-es-el-cerebro-de-la-planta/

    li
      p
        | Síntesis (2017). 
        i Principios de sanidad vegetal.  
        | (s.f.).  
        a(href="https://www.sintesis.com/data/indices/9788490774618.pdf", target="_blank") https://www.sintesis.com/data/indices/9788490774618.pdf


